/* Font Size */

$font-size-title: 20px;
$font-size-subtitle: 15px;

/* Spacing */

$from: 1;
$to: 30;

/* Default Colors */

$btn-default: #ccc;
$btn-border-default: #eee;
$btn-text-default-color: white;
