/* Spacing */

/* Margin */
@for $i from $from through $to {
  .m-#{$i} {
    margin: #{$i}px;
  }
}

/* Margin Right */
@for $i from $from through $to {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
}

/* Margin Left */
@for $i from $from through $to {
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}

/* Margin Bottom */
@for $i from $from through $to {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

/* Margin Top */
@for $i from $from through $to {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
}
