<div class="main-container">
  <div class="todo">
    <header-component></header-component>
    <div class="todo__body">
      <form-create-task (createTask)="createTask($event)"></form-create-task>
      <div *ngFor="let task of tasks$ | async; let index = index">
        <task-list-component
          [task]="task"
          [id]="index"
          (emitUpdateTaskName)="updateTaskName($event)"
          (changeStateTask)="changeStatusTask($event)"
          (emitDeleteTask)="deleteTask($event)"></task-list-component>
      </div>
    </div>
  </div>
</div>
