.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin: auto;
    align-items: center;
}

.container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#btn-start {
    padding: 20px 15px;
    border: 1px solid #eee;
    background-color: #ccc;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
}